@import "../themes/juice/sass/juice.scss";

.logo {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
}

.hero {
}

.hero .hero-div {
    padding: 0 5rem;
    flex: 1;
}

.hero-image {
    flex: 0 55%;
}

@media screen and (max-width: 768px) {
.hero .hero-div {
    padding: 0 2rem;
}

.hero-image {
    display: none;
}
}

.content pre {
    padding-top: 0;
    padding-bottom: 0;
}

footer small {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
